.input-box img {
  border-radius: 10px;
  width: 40vh;
}

.input-box h1 {
  font-size: 5vh;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5vh;
  margin-bottom: 2vh;
  color: teal;
}

.input-box h3 {
  margin: 2vh 0 3vh 0;
  font-size: 3vh;
  font-weight: 300;
}

.input-box input {
  background-color: rgba(250, 235, 215, 0.5);
  border: none;
  border-radius: 10%;
  font-size: 3vh;
  font-weight: bold;
  width: 4vh;
  height: 4vh;
  text-align: center;
  margin-right: 0.5vh;
  font-weight: 300;
  color: #555;
}

.input-box input:focus {
  outline: none;
}

.input-box input::-webkit-outer-spin-button,
.input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box span {
  font-size: 2vh;
  margin-right: 1.5vh;
  color: #555;
}

.input-box .link {
  margin-top: 3vh;
  height: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input-box a {
  grid-column-start: 2;
  background-color: lightsalmon;
  border-radius: 1vh;
  text-decoration: none;
  font-size: 2vh;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.input-box a:hover {
  background-color: tomato;
  color: white;
}
